MimeKit/Resources/Resource.designer.cs
Mono.Data.Sqlite/Documentation
project.nuget.cache
*project.lock.json
*.csproj.nuget.cache
*.csproj.nuget.dgspec.json
*.userprefs
*.user
*.suo
*~
test-results
packages
obj
bin
.vs
